/* reset css */

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
textarea,
input {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  /* font-size는 가변적임 */
}

button:focus,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
  box-shadow: none;
  outline: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.container {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
}
.container h1 {
  font-size: 32px;
}
.user-input {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.user-input input {
  width: 95%;
}
.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  background-color: pink;
}
.cnt-etc {
  color: #fff;
  cursor: pointer;
}
.list-tab-menus {
  /* border: 1px solid black; */
  width: 650px;
  padding: 15px;
  margin-top: 10px;
  border-bottom: 0;
}
.list-tab-menus a {
  /* border: 1px solid black; */
  margin-right: 11px;
  display: inline-block;
  padding: 5px;
}
.to-do-memo {
  /* border: 1px solid black; */
  width: 650px;
}
.to-do-memo li {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: 650px;
  padding: 15px;
}
.to-do-memo li i:first-child {
  color: rgb(0, 170, 0);
  margin-right: 55px;
  cursor: pointer;
}
.to-do-memo li i:last-child {
  color: red;
  cursor: pointer;
}
/* .to-do-memo li:nth-child(2) {
  border-top: 0;
} */
.to-do-memo li:nth-child(1) {
  border-top: 1px solid black;
}
