* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url("images/background.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  background-color: #fff;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.task-area {
  border: 1px solid lightgray;
  border-bottom: none;
}
.task-tabs {
  position: relative;
  display: flex;
  border-bottom: 1px solid lightgray;
}
.task-tabs div {
  padding: 1em;
}
#under-line {
  height: 4px;
  background-color: pink;
  position: absolute;
  width: 51px;
  left: 0;
  top: 52px;
  padding: 0;
}
#add-button {
  border: none;
  background-color: blanchedalmond;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  text-align: center;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1em; */
  border-bottom: 1px solid lightgray;
}
.task-done {
  text-decoration: line-through;
  text-decoration-color: red;
  background-color: lightgrey;
  width: 100%;
  padding-left: 15px;
}
.fa-solid {
  cursor: pointer;
}
.fa-check {
  margin-right: 60px;
  font-size: 20px;
  color: green;
}
.fa-trash {
  margin-right: 30px;
  color: red;
}
.fa-rotate-left {
  margin-right: 60px;
  font-size: 20px;
  color: lightgrey;
}
.size {
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  height: 60px;
  padding-left: 15px;
}
.input-area {
  margin-bottom: 13px;
}
.all-delete-area {
  margin-top: 10px;
  text-align: right;
}
.all-delete-area button {
  border: none;
  padding: 10px;
}
.tabs {
  cursor: pointer;
}
